p {
    margin: 0;
    align-self: center;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 30px;
    padding: 2rem 0;
    color: black;
  }
  
  .wrapper > div:first-child {
    text-align: right;
    margin-right: 1rem;
  }
  
  .wrapper > div:last-child {
    margin-left: 1rem;
  }
  
  .title {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    margin-right: auto;
  }